@tailwind base;
@tailwind components;
@tailwind utilities;





.custom-container {
    background-color: gray;
    /* max-width: 1220px; */
    margin: auto;
}

.swiper-button-prev, .swiper-button-next{
    display: none !important;
}