.banner-section {
  height: 100vh;
  background-image: url("https://themewagon.github.io/believe/images/slider-1.jpg");
  background-position: top ;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-section-2 {
  /* height: 100vh; */
  background-image: url("https://i.ibb.co/2KTg1gq/ben-white-q-DY9ahp0-Mto-unsplash-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}




/*--------------------------------------------------------------------------
  For mobile:  
  ---------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  .banner-left{
    background: white;
    opacity: 0.7;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    text-align: center;
  }
}
